.h1,
.h2,
.h3,
.text {
  color: var(--mantine-color-black-9);
}

.h2 {
  color: var(--mantine-color-black-9);
}

.h3 {
  color: var(--mantine-color-black-9);
}

.button {
  color: var(--mantine-color-greenish-2);
}
