body {
  margin: "1em" !important;
}

html,
body,
.container,
ul.timeline {
  height: 100%;
}

.mantine-FileInput-input {
  background-color: var(--mantine-color-greenish-2) !important;
}

.mantine-FileInput-placeholder {
  color: #000000 !important;
}
